<section class="addNewStudentSection">

    <form id="eventForm">
        <div>
            <h2>Create Event</h2>
        </div>

        <div>
            <label for="id">ID</label>
            <input id="id" type="number" class="form-control" required autofocus>
        </div>

        <div>
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" required>
        </div>


        <div>
            <label for="description">Description</label>
            <input id="description" type="text" class="form-control" required>
        </div>
    
        <div>
            <label for="date">Date</label>
            <input id="date" type="date" class="form-control" required>
        </div>

        <div>
            <label for="capacity">Capacity</label>
            <input id="capacity" type="number" class="form-control" required>
        </div>

        <!-- <button type="submit" class="btn">Cancel</button> -->
        <button type="submit" class="btn">Save</button>
        <button class="btn-cancel" onclick="history.back()">Cancel</button>


    </form>

</section>