<section class="general-section">
    <div class="newSection">
            <h2>COURSES SECTION</h2>
        <div class="nextEvents">
            <h4>Event number 1</h4>
            <img src="../imgs/event1.jpg" alt="event1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ullam doloribus perspiciatis ipsum provident dolorem.</p>
        </div>
        <div class="nextEvents">
            <h4>Event number 1</h4>
            <img src="../imgs/event2.jpg" alt="event2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ullam doloribus perspiciatis ipsum provident dolorem.</p>
        </div>
    </div>
</section>