<section class="general-section">
    <div class="newSection">
        <h2>Welcome to our platform to manage events</h2>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem provident dolores vel ipsum natus excepturi rem accusamus temporibus quidem dicta.</p>
        
        <img src="./imgs/event3.jpg" alt="Event 3" class="picture">


        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem provident dolores vel ipsum natus excepturi rem accusamus temporibus quidem dicta.</p>

    </div>

</section>