<section class="tablaUsuarios">

    <h2>Events List</h2>
    <a href="#/addStudent" class="btn-addStudent">Add New Event</a>

    <table id="showEventsTable">
        <!-- Head's table  -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>

        <!-- Body's table -->
        <tbody>
        </tbody>

    </table>

</section>